body {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin:40px 60px;
}

/******************* Article *****************/

.jelly {
    margin-bottom: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom:0px;
}

.sub-title {
    font-size:24px;
    margin:0 0 8px 0;
}

.title-section > address, .title-section > time {
    font-weight: 600;
    font-size: 11px;
}

.title-section > address {
    display: inline;
    color: #e7131a;
}

.avatar {
    margin-right:5px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.meet {
    border-bottom: 1px solid #000;
}

.meet > h2 {
    padding-bottom:12px;
    border-bottom: 1px solid #000;
}

.meet a {
    color: #e7131a;
}

/************************** Comments **************************/

.comments-section .title {
    font-size:24px;
  }
  
  .comments-section .count {
      opacity:.8;
  }
  
  .comments-section hr {
      margin-bottom:40px;
  }
  
  .comments-section .new-comment-input {
    width:100%;
  }
  
  .comments-section .new-comment-actions {
   text-align:right;
  }
  
  .btn {
    margin:5px;
    padding: 6px 16px;
    border-radius:5px;
    border-width:0px;
  }
  
  .btn-primary {
    background-color:dodgerblue;
    color:white;
  }
  
  .comment {
    display:flex;
    margin-bottom:30px;
  }
  
  .comment img {
    width:30px; 
    height:30px;
    padding-right:10px;
  }
  
  .comment .name {
    font-weight:bold;
  }
  
  .comment .location,
  .comment .timestamp {
    opacity:.4;
  }
  
  .comment .comment-summary {
    color:rgb(50, 104, 145);
  }
  
  .comment a {
    text-decoration: none;
  }
  







